<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
	<div class="position-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_index') }}">
					<i class="bi bi-house-door"></i>
					<span class="ms-2">Dashboard</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_posts') }}">
					<i class="bi bi-file-text"></i>
					<span class="ms-2">Articles</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_categories') }}">
					<i class="bi bi-bookmark"></i>
					<span class="ms-2">Catégories</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_comments') }}">
					<i class="bi bi-chat-dots"></i>
					<span class="ms-2">Commentaires</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_tags') }}">
					<i class="bi bi-tag"></i>
					<span class="ms-2">Tags</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_users') }}">
					<i class="bi bi-people"></i>
					<span class="ms-2">Utilisateurs</span>
				</a>
			</li>
			<hr class="bg-primary border-top d-md-none">
			<li class="nav-item d-md-none">
				<a class="nav-link" href="{{ path('blog') }}">
					<i class="bi bi-arrow-up-left-square"></i>
					<span class="ms-2">Retour sur le blog</span>
				</a>
			</li>
			<li class="nav-item d-md-none">
				<a class="nav-link" href="{{ path('my_profile') }}">
					<i class="bi bi-person-lines-fill"></i>
					<span class="ms-2">Mon profil</span>
				</a>
			</li>
			<li class="nav-item d-md-none">
				<a class="nav-link" href="{{ path('logout') }}">
					<i class="bi bi-box-arrow-right"></i>
					<span class="ms-2">Déconnexion</span>
				</a>
			</li>
		</ul>
	</div>
</nav>
