<header id="header" class="fixed-top">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="header">
		<a class="navbar-brand" href="{{ path('home') }}"><img src=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
			<ul class="navbar-nav">
				<div class="centered-pill">
					<li class="nav-item">
						<a class="nav-link centered-pill-button {{ current_route('home') ? 'active' : '' }}" href="{{ path('home') }}">
							Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link centered-pill-button {{ current_route('blog') ? 'active' : '' }}" href="{{ path('blog') }}">Blog</a>
					</li>
				</div>
			</ul>
		</div>
		<div class="navbar-nav ml-auto">
			{% if user.username is defined %}
				<a class="nav-item nav-link" href="{{ path('logout') }}">Déconnexion</a>
			{% else %}
				<a class="nav-item nav-link" href="{{ path('login') }}">Connexion</a>
			{% endif %}
		</div>
	</nav>
</header>
