<form method="POST" action="{{ path('my_profile') }}" enctype="multipart/form-data">
	{% if errors.updateError is defined %}
		<div class="alert alert-danger">{{ errors.updateError }}</div>
	{% endif %}
	<div class="row mb-3">
		<label for="avatar" class="col-md-4 col-lg-3 col-form-label">Avatar</label>
		<div class="col-md-8 col-lg-9">
			<img src="{{ asset('../uploads/avatars/' ~ user.avatar ~ '.jpg') }}" alt="avatar">
			<div class="pt-2">
				<a href="#" class="btn btn-indigo btn-sm" title="Upload new profile image" onclick="document.getElementById('avatar').click();">
					<i class="bi bi-upload"></i>
				</a>
				<input type="file" id="avatar" name="avatar" style="display:none;">
				<a href="#" class="btn btn-danger btn-sm" title="Remove my profile image">
					<i class="bi bi-trash"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<label for="firstName" class="col-md-4 col-lg-3 col-form-label">Prénom</label>
		<div class="col-md-8 col-lg-9 form-group mb-3{% if errors.firstName is defined and errors.firstName is not empty %} has-error{% endif %}">
			<input name="firstName" type="text" class="form-control {% if errors.firstName is defined and errors.firstName is not empty %} is-invalid{% endif %}" id="firstName" value="{{ user.firstName ? user.firstName : ''}}" autocomplete="on">
			{% if errors.firstName is defined %}
				<div class="invalid-feedback">
					{{ errors.firstName }}
				</div>
			{% endif %}
		</div>
	</div>

	<div class="row mb-3">
		<label for="lastName" class="col-md-4 col-lg-3 col-form-label">Nom</label>
		<div class="col-md-8 col-lg-9 form-group mb-3{% if errors.lastName is defined and errors.lastName is not empty %} has-error{% endif %}">
			<input name="lastName" type="text" class="form-control {% if errors.lastName is defined  and errors.lastName is not empty %} is-invalid{% endif %}" id="lastName" value="{{ user.lastName ? user.lastName : ''}}" autocomplete="on">
			{% if errors.lastName is defined %}
				<div class="invalid-feedback">
					{{ errors.lastName }}
				</div>
			{% endif %}
		</div>
	</div>

	<div class="row mb-3">
		<label for="bio" class="col-md-4 col-lg-3 col-form-label">Biographie</label>
		<div class="col-md-8 col-lg-9 form-group mb-3{% if errors.bio is defined and errors.bio is not empty %} has-error{% endif %}">
			<textarea id="bio" name="bio" class="form-control {% if errors.bio is defined and errors.bio is not empty %} is-invalid{% endif %}" placeholder="Biographie">{{ user.bio|default('')|e('html_attr') }}</textarea>
			{% if errors.bio is defined %}
				<div class="invalid-feedback">
					{{ errors.bio }}
				</div>
			{% endif %}
		</div>
	</div>

	<div class="row mb-3">
		<label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
		<div class="col-md-8 col-lg-9 form-group mb-3{% if errors.email is defined and errors.email is not empty %} has-error{% endif %}">
			<input name="email" type="text" class="form-control {% if errors.email is defined  and errors.email is not empty %} is-invalid{% endif %}" id="email" value="{{ user.email ? user.email : ''}}" autocomplete="on">
			{% if errors.email is defined %}
				<div class="invalid-feedback">
					{{ errors.email }}
				</div>
			{% endif %}
		</div>
	</div>

	<div class="row mb-3">
		<label for="twitter" class="col-md-4 col-lg-3 col-form-label">Profil Twitter</label>
		<div class="col-md-8 col-lg-9 form-group mb-3{% if errors.twitter is defined and errors.twitter is not empty %} has-error{% endif %}">
			<input name="twitter" type="text" class="form-control {% if errors.twitter is defined  and errors.twitter is not empty %} is-invalid{% endif %}" id="twitter" placeholder="{{ user.twitter ? user.twitter : 'https://twitter.com/username' }}" value="{{ user.twitter ? user.twitter : 'https://twitter.com/username' }}">
			{% if errors.twitter is defined %}
				<div class="invalid-feedback">
					{{ errors.twitter }}
				</div>
			{% endif %}
		</div>
	</div>

	<div class="row mb-3">
		<label for="facebook" class="col-md-4 col-lg-3 col-form-label">Profil Facebook</label>
		<div class="col-md-8 col-lg-9 form-group mb-3{% if errors.facebook is defined and errors.facebook is not empty %} has-error{% endif %}">
			<input name="facebook" type="text" class="form-control {% if errors.facebook is defined  and errors.facebook is not empty %} is-invalid{% endif %}" id="facebook" placeholder="{{ user.facebook ? user.facebook : 'https://facebook.com/username' }}" value="{{ user.facebook ? user.facebook : 'https://facebook.com/username' }}">
			{% if errors.facebook is defined %}
				<div class="invalid-feedback">
					{{ errors.facebook }}
				</div>
			{% endif %}
		</div>
	</div>

	<div class="row mb-3">
		<label for="github" class="col-md-4 col-lg-3 col-form-label">Profil Github</label>
		<div class="col-md-8 col-lg-9 form-group mb-3{% if errors.github is defined and errors.github is not empty %} has-error{% endif %}">
			<input name="github" type="text" class="form-control {% if errors.github is defined  and errors.github is not empty %} is-invalid{% endif %}" id="github" placeholder="{{ user.github ? user.github : 'https://github.com/username' }}" value="{{ user.github ? user.github : 'https://github.com/username' }}">
			{% if errors.github is defined %}
				<div class="invalid-feedback">
					{{ errors.github }}
				</div>
			{% endif %}
		</div>
	</div>

	<div class="row mb-3">
		<label for="linkedin" class="col-md-4 col-lg-3 col-form-label">Profil LinkedIn</label>
		<div class="col-md-8 col-lg-9 form-group mb-3{% if errors.linkedin is defined and errors.linkedin is not empty %} has-error{% endif %}">
			<input name="linkedin" type="text" class="form-control {% if errors.linkedin is defined  and errors.linkedin is not empty %} is-invalid{% endif %}" id="linkedin" placeholder="{{ user.linkedin ? user.linkedin : 'https://linkedin.com/in/username' }}" value="{{ user.linkedin ? user.linkedin : 'https://linkedin.com/in/username' }}">
			{% if errors.linkedin is defined %}
				<div class="invalid-feedback">
					{{ errors.linkedin }}
				</div>
			{% endif %}
		</div>
	</div>
	<input type="hidden" name="csrfToken" value="{{ csrfToken }}">
	<div class="text-center">
		<button type="submit" class="btn btn-indigo">Sauvegarder</button>
	</div>
</form>
