{% extends "base.html.twig" %}
{% block body %}
	<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
					<div class="card mb-3">
						<div class="card-body">
							<div class="pt-4 pb-2">
								<h5 class="card-title text-center pb-0 fs-4">Connectez-vous à votre compte</h5>
								<p class="text-center small">Entrez votre email &amp; mot de passe pour se connecter</p>
							</div>
							<form class="row g-3 needs-validation" action="{{ path('login') }}" method="POST">
								<input type="hidden" name="login" value="1">
								<div class="col-12">
									<label for="email" class="form-label">Email</label>
									<div class="input-group has-validation">
										<span class="input-group-text" id="inputGroupPrepend">
											<i class="bi bi-person"></i>
										</span>
										<input type="email" name="email" class="form-control" id="email" required="">
										<div class="invalid-feedback">Veuillez entrer votre email.</div>
									</div>
								</div>
								{% if errors.username is defined %}
									<div class="text-danger small">{{ errors.username }}</div>
								{% endif %}
								<div class="col-12">
									<label for="password" class="form-label">Mot de passe</label>
									<div class="input-group has-validation">
										<span class="input-group-text" id="inputGroupPrepend">
											<i class="bi bi-lock"></i>
										</span>
										<input type="password" name="password" class="form-control" id="password" required="">
										<div class="invalid-feedback">Veuillez entrer votre mot de passe</div>
									</div>
								</div>
								{% if errors.password is defined %}
									<div class="text-danger small">{{ errors.password }}</div>
								{% endif %}
								<input type="hidden" name="csrfToken" value="{{ csrfToken }}">
								<div class="col-12">
									<button class="btn btn-indigo w-100" type="submit">Connexion</button>
								</div>
								<div class="col-12">
									<p class="small mb-0">Pas de compte?
										<a href="{{ path('register') }}">Créez un compte !</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
