{% extends "base.html.twig" %}
{% block body %}
	<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
		<div class="container">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
						<div class="card mb-3">
							<div class="card-body">
								<div class="pt-4 pb-2">
									<h5 class="card-title text-center pb-0 fs-4">Créer un compte</h5>
									<p class="text-center small">Entre vos informations de connexion</p>
								</div>
								<form class="row g-3 needs-validation" method="POST">
									<div class="col-12">
										<label for="email" class="form-label">Votre email</label>
										<div class="input-group has-validation">
											<span class="input-group-text" id="inputGroupPrepend">
												<i class="bi bi-envelope"></i>
											</span>
											<input type="email" name="email" class="form-control {% if errors.email is defined and errors.email is not empty %} is-invalid{% endif %}" id="email" required="" value="{{ postData.email|default('')|e('html_attr') }}">
											{% if errors.email is defined %}
												<div class="invalid-feedback">
													{{ errors.email }}
												</div>
											{% endif %}
										</div>
										<div class="col-12">
											<label for="username" class="form-label">Nom d'utilisateur</label>
											<div class="input-group has-validation">
												<span class="input-group-text" id="inputGroupPrepend">
													<i class="bi bi-person"></i>
												</span>
												<input type="text" name="username" class="form-control {% if errors.username is defined and errors.username is not empty %} is-invalid{% endif %}" id="username" required="" value="{{ postData.username|default('')|e('html_attr') }}">
												<div class="invalid-feedback">Veuillez choisir votre nom d'utilisateur.</div>
											</div>
											{% if errors.username is defined %}
												<div class="invalid-feedback">
													{{ errors.username }}
												</div>
											{% endif %}
										</div>
										<div class="col-12">
											<label for="password" class="form-label">Mot de passe</label>
											<div class="input-group">
												<span class="input-group-text" id="inputGroupPrepend">
													<i class="bi bi-lock"></i>
												</span>
												<input type="password" name="password" class="form-control {% if errors.password is defined and errors.password is not empty %} is-invalid{% endif %}" id="password" required="true">
												{% if errors.password is defined %}
													<div class="invalid-feedback">
														{{ errors.password }}
													</div>
												{% endif %}
											</div>
										</div>
										<div class="col-12">
											<label for="passwordConfirm" class="form-label">Confirmation mot de passe</label>
											<div class="input-group has-validation">
												<span class="input-group-text" id="inputGroupPrepend">
													<i class="bi bi-lock"></i>
												</span>
												<input type="password" name="passwordConfirm" class="form-control {% if errors.passwordConfirm is defined and errors.passwordConfirm is not empty %} is-invalid{% endif %}" id="passwordConfirm" required="true">
												{% if errors.passwordConfirm is defined %}
													<div class="invalid-feedback">
														{{ errors.passwordConfirm }}
													</div>
												{% endif %}
											</div>
										</div>
									</div>
									<input type="hidden" name="csrfToken" value="{{ csrfToken }}">
									<div class="col-12">
										<button class="btn btn-indigo w-100" type="submit" name="register">Créer un compte</button>
									</div>
									<div class="col-12">
										<p class="small mb-0">Déjà un compte?
											<a href="{{ path('login') }}">Se connecter</a>
										</p>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
