{% extends "base.html.twig" %}
{% block body %}
	<section id="blog" class="blog mt-4">
		<div class="container pt-4" style="max-width:1800px" data-aos="fade-up">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
							<img src="{{ asset('../uploads/avatars/' ~ user.avatar ~ '.jpg') }}" alt="avatar of {{ user.username }}" class="rounded-circle">
							<h2>{{ user.firstName ? user.firstName : '' }}
								{{ user.lastName ? user.lastName : ''}}</h2>
							<h3>{{ user.role == 'ROLE_USER' ? 'Utilisateur' : 'Administrateur' }}</h3>
							{% set socialLinks = [
							{'name': 'twitter', 'url': user.twitter, 'icon': 'bi bi-twitter'},
							{'name': 'facebook', 'url': user.facebook, 'icon': 'bi bi-facebook'},
							{'name': 'github', 'url': user.github, 'icon': 'bi bi-github'},
							{'name': 'linkedin', 'url': user.linkedin, 'icon': 'bi bi-linkedin'}
						] %}
							<div class="social-links">
								{% for link in socialLinks %}
									{% if link.url is not empty %}
										<a href="{{ link.url }}">
											<i class="{{ link.icon }}"></i>
										</a>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card">
						<div
							class="card-body pt-3">
							<!-- Bordered Tabs -->
							<ul class="nav nav-tabs nav-tabs-bordered" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="false" role="tab" tabindex="-1">Résumé</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="true" role="tab">Modifier Profil</button>
								</li>
								{% if user.role == "ROLE_ADMIN" %}
									<li class="nav-item" role="presentation">
										<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-comments" aria-selected="false" role="tab" tabindex="-1">Mes Commentaires</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-my-posts" aria-selected="false" tabindex="-1" role="tab">Mes Articles</button>
									</li>
								{% endif %}
							</ul>
							<div class="tab-content pt-2">
								<div class="tab-pane fade profile-overview  active show" id="profile-overview" role="tabpanel">
									<h5 class="card-title">A propos</h5>
									<p class="small fst-italic">{{ user.bio }}</p>
									<h5 class="card-title">Profile Details</h5>
									<div class="row">
										<div class="col-lg-3 col-md-4 label ">Nom Complet</div>
										<div class="col-lg-9 col-md-8">{{ user.firstName ? user.firstName : '' }}
											{{ user.lastName ? user.lastName : ''}}</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label ">Nom d'utilisateur</div>
										<div class="col-lg-9 col-md-8">{{ user.username ? '@' ~ user.username }}</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Email</div>
										<div class="col-lg-9 col-md-8">{{ user.email }}</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Membre depuis</div>
										<div class="col-lg-9 col-md-8">{{ user.createdAt|date("d/m/Y") }}</div>
									</div>
								</div>
								<div
									class="tab-pane fade profile-edit pt-3" id="profile-edit" role="tabpanel">
									<!-- Profile Edit Form -->

									{% include "_partials/profile_form.html.twig" %}
									<!-- End Profile Edit Form -->
								</div>
								<div
									class="tab-pane fade profile-comments pt-3" id="profile-comments" role="tabpanel">

									<!-- Comments Form -->
									<h4>Mes commentaires</h4>
									<div class="d-flex align-items-center">
										<table class="table table-hover">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">Name</th>
													<th scope="col">Position</th>
													<th scope="col">Age</th>
													<th scope="col">Start Date</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">1</th>
													<td>Brandon Jacob</td>
													<td>Designer</td>
													<td>28</td>
													<td>2016-05-25</td>
												</tr>
												<tr>
													<th scope="row">2</th>
													<td>Bridie Kessler</td>
													<td>Developer</td>
													<td>35</td>
													<td>2014-12-05</td>
												</tr>
												<tr>
													<th scope="row">3</th>
													<td>Ashleigh Langosh</td>
													<td>Finance</td>
													<td>45</td>
													<td>2011-08-12</td>
												</tr>
												<tr>
													<th scope="row">4</th>
													<td>Angus Grady</td>
													<td>HR</td>
													<td>34</td>
													<td>2012-06-11</td>
												</tr>
												<tr>
													<th scope="row">5</th>
													<td>Raheem Lehner</td>
													<td>Dynamic Division Officer</td>
													<td>47</td>
													<td>2011-04-19</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- End comments Table -->
								</div>
								<div
									class="tab-pane fade pt-3" id="profile-my-posts" role="tabpanel">
									<!-- Posts Table -->
									<h4>Mes articles</h4>
									<div class="d-flex align-items-center">
										<table class="table table-hover">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">Name</th>
													<th scope="col">Position</th>
													<th scope="col">Age</th>
													<th scope="col">Start Date</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">1</th>
													<td>Brandon Jacob</td>
													<td>Designer</td>
													<td>28</td>
													<td>2016-05-25</td>
												</tr>
												<tr>
													<th scope="row">2</th>
													<td>Bridie Kessler</td>
													<td>Developer</td>
													<td>35</td>
													<td>2014-12-05</td>
												</tr>
												<tr>
													<th scope="row">3</th>
													<td>Ashleigh Langosh</td>
													<td>Finance</td>
													<td>45</td>
													<td>2011-08-12</td>
												</tr>
												<tr>
													<th scope="row">4</th>
													<td>Angus Grady</td>
													<td>HR</td>
													<td>34</td>
													<td>2012-06-11</td>
												</tr>
												<tr>
													<th scope="row">5</th>
													<td>Raheem Lehner</td>
													<td>Dynamic Division Officer</td>
													<td>47</td>
													<td>2011-04-19</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- End Post Table -->
								</div>
							</div>
							<!-- End Bordered Tabs -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
