{% extends 'base.html.twig' %}
{% block body %}
	<section id="blog" class="blog mt-4">
		<div class="container pt-4" data-aos="fade-up">
			<div class="row">
				<div class="col-lg-8 entries">
					{% include "_partials/blog_search_filter.html.twig" %}
					{% for post in posts %}
						<article class="entry">
							<div class="entry-img">
								<img src="{{ post.featuredImage }}" alt="Illustration of the post {{ post.slug }}" class="img-fluid">
							</div>
							<h2 class="entry-title">
								<a href="{{ path('blog_post', {'slug': post.slug}) }}">{{ post.title }}</a>
							</h2>
							<div class="entry-meta">
								<ul>
									<li class="d-flex align-items-center">
										<i class="bi bi-person"></i>
										<a href="{{ path('blog_author', {'author': post.author}) }}">
											{{ post.author }}</a>
									</li>
									<li class="d-flex align-items-center">
										<i class="bi bi-clock"></i>
										<a href="{{ path('blog_date', {'date': post.createdAt|date("y-m-d")}) }}">
											<time datetime="{{ post.createdAt|date("d/m/Y") }}">
												{{ post.createdAt|date("d/m/Y") }}</time>
										</a>
									</li>
									<li class="d-flex align-items-center">
										<i class="bi bi-folder"></i>
										<a href="{{ path('blog_category', {'slug': post.categorySlug}) }}">
											{{ post.category }}</a>
									</li>
									<li class="d-flex align-items-center">
										<i class="bi bi-chat-dots"></i>
										<a href="{{ path('blog_post', {'slug': post.slug}) }}#comment-section">
											{{ post.numberOfComments }}
											Commentaire{{ post.numberOfComments > 1 ? 's' : '' }}</a>
									</li>
								</ul>
							</div>
							<div class="entry-content">
								<p>
									{{ post.chapo }}
								</p>
								<div class="read-more">
									<a href="/blog/post/{{ post.slug }}">Read More</a>
								</div>
							</div>
						</article>
					{% endfor %}
					<!-- End blog entry -->
					<div class="blog-pagination">
						<ul class="justify-content-center">
							<li>
								<a href="#">1</a>
							</li>
							<li class="active">
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- End blog entries list -->
				{% include "_partials/blog_sidebar.html.twig" %}
				<!-- End blog sidebar -->
			</div>
		</div>
	</section>
{% endblock %}
